[submodule "frontend"]
	path = frontend
	url = https://github.com/Hekku2/home-dashboard-frontend
[submodule "backend"]
	path = backend
	url = https://github.com/Hekku2/home-dashboard-backend
[submodule "windows-client"]
	path = windows-client
	url = https://github.com/Hekku2/home-dashboard-windowsclient.git
